.wapper{
}
.h2{
  font-family: 'Heebo', sans-serif;
  color: rgba(128, 128, 128, 0.722);
}
.ul{
  list-style: none;
  font-family: 'Heebo', sans-serif;
  margin-left: -2%;
}
.ul li:hover{
  color: #ffc502;

}