.container_custom {
  margin-top: 4%;
}

.container_custom img {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 12px 0;
  transition: transform 0.3s, box-shadow 0.3s, cursor 0.3s; /* Agrega transiciones */
  cursor: pointer; /* Cambia el cursor a un puntero */
}

.container_custom img:hover {
  transform: scale(1.1); /* Agranda la imagen al pasar el mouse */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); /* Cambia la sombra al pasar el mouse */
}
