.container_nav{
    background-color: #ffc502;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 14vh;
}
.backIcon {
    font-size: 2rem;
    color: #000;
    margin-left: 30%;
    margin-right: 40px;
}
.title{
    font-size: 1.6rem;
}

  .logo{
    height: 13vh;
  }
.orderTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_shoppingCart{
    background-color: #f3f3f3;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 60%;
    
}
.cart_products{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    width: 500px;
    padding: 1rem;
    margin: 1vh;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.container_quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.btn_delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn_delete:hover {
    transform: scale(1.2); 
    color: red;
}



.buy_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 100px;
}
.buy_btn{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding:6px 30px;
    width: 200px;
}
.static_container{
    background-image:url(https://http2.mlstatic.com/D_NQ_919924-MLA70749172958_072023-OO.webp);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;

}
.static_title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

}
.back_static{
    color: #f3f3f3;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

}
