.wrapper {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}
.pdt_name {
  font-weight: bold;
  align-self: center;
}
.pdt_description {
  font-family: 'Montserrat';
}
.pdt_price {
  color: gray;
  align-self: center;
  font-size: 1.5rem;
}
.btn_buy {
  width: 50%;
  margin-top: 10%;
  align-self: center;
  border: none;

  border-radius: 1rem;

  background-color: black;
  color: white;
  font-weight: bold;
}
.btn_buy:hover {
  color: rgb(233, 170, 36);
}

.div_input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number_detail{
  border: transparent;
  display: flex;
  text-align: center;
  width: 50%;
  font-size: 1rem;
}
.counter{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Para centrar el h2 */
.centerText {
  margin-top: 15%;
  text-align: center;
}
.svg_addIcon, .svg_removeIcon{
  font-size: 2rem;
  color:black;
}
/* Para los textareas */
.fullWidth {
  width: 95%;
  align-items: center;
  box-sizing: border-box;
  resize: none; /* Evita que el usuario pueda redimensionar el textarea */
  margin: 0 auto; /* Centra horizontalmente */
}