.wrapper{
    margin-top: 15%;
    display: flex;
    padding-bottom: 10%;  
    justify-content: space-evenly;
}
.text{
    display: flex;
    flex-flow: column nowrap;
}
.img_delivery{
    width: 25%;
    margin-top: -8%;
    align-self: flex-end;
}
.form{
    display: flex;
    flex-flow: column;
    align-items: start;
    max-width: 30%;
    }
.form input{
    width: 100%;
}
.inp_adress{
    display: flex;
    justify-content: space-around;

}
.div_zip{
    display: flex;
    flex-flow: row nowrap;
}


.btn_submit{
    align-self: center;
    margin-top: 5%;

    border: none;
    color: white;
    background-color: black;
    border-radius: 1rem;
}
.btn_submit:hover{
    color: hsl(46, 100%, 50%);
}
