.separador{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}
.buys_wrapper{
    width: 100%;
    height: 56vh;
    min-height: 200px;
    max-height: 400px;
    box-shadow: 0 0 10px 0;
    border-radius: 1rem;
    overflow:scroll;
    margin: 5%;
    display: flex;
    flex-flow: column;
    background-color: #ffffffff;
}

.buys_wrapper::-webkit-scrollbar {
    display: none;

}
.buys_wrapper h2{
    position: absolute;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    padding: 1% 2% 2% 1%;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: 2px solid rgb(223, 188, 81);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0 0 5px 0;
    
}
.order{
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    padding-top: 5%;
    border-bottom: 1px solid rgba(130, 125, 125, 0.231);
    
    margin: 0 3%;
}



.order .datos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
}
.order .datos p{
    margin: 0 3%;
}

.no_buys{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 25%;
}
.sells_wrapper{
    background-color: #fff;
    width: 100%;
    margin: 5%;
    height: 56vh; 
    min-height: 200px;
    max-height: 400px;
    box-shadow: 0 0 10px 0;
    border-radius: 1rem;
    overflow: scroll;
}
.sells_wrapper h2{
    position: absolute;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    padding: 1% 2% 2% 1%;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom: 2px solid rgb(223, 188, 81);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0 0 5px 0;
    
}
.sells_wrapper::-webkit-scrollbar {
    display: none;

}

.sells_wrapper p{
    position: absolute;
    margin: 5% 10%;
}
.no_sells{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 25%;    
}