.separador{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}
.buys_wrapper{
    width: 100%;
    height: 56vh;
    min-height: 200px;
    max-height: 400px;
    box-shadow: 0 0 10px 0;
    border-radius: 1rem;
    overflow:scroll;
    margin: 5%;
    display: flex;
    flex-flow: column;
    background-color: #ffffffff;
}

.buys_wrapper::-webkit-scrollbar {
    display: none;

}
.buys_wrapper h2{
    position: absolute;
    font-size: 1rem;
    color: gray;
    padding: 1% 5% 1%;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    
}
.order{
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    padding-top: 10%;
    border-bottom: 1px solid rgba(130, 125, 125, 0.231);
    
    margin: 0 3%;
}

.items{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    
}
.order .items p{
    margin: 0 6%;
    
}
.order .datos{
    display: flex;
    flex-flow: row nowrap;
    
    width: 100%;
}
.order .datos p{
    margin: 0 3%;
}
.sells_wrapper{
    background-color: #fff;
    width: 100%;
    margin: 5%;
    height: 56vh; 
    min-height: 200px;
    max-height: 400px;
    box-shadow: 0 0 10px 0;
    border-radius: 1rem;
    overflow: scroll;
}
.sells_wrapper::-webkit-scrollbar {
    display: none;

}
.sells_wrapper h2{
    font-size: 1rem;
    color: gray;
    padding: 2% 0 0 10%;
}
.sells_wrapper p{
    position: absolute;
    margin: 5% 10%;
}